################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DbiUebung-002/FileContentIndex
/.vs/DbiUebung-002/v17
/.vs
